In [2]:
import pandas as pd

# Exploración y comprensión de los datos

## EDA

In [67]:
df_ly = pd.read_fwf("registro_temperatura365d_smn.txt", skiprows=1, encoding="latin1") #La primera linea esta en blanco (skiprows=1)
df_ly.head()

      FECHA   TMAX   TMIN                                    NOMBRE
0  --------  -----  -----  ----------------------------------------
1  30032025   28.9   21.4                           AEROPARQUE AERO
2  30032025   23.0   13.7                                 AZUL AERO
3  30032025   22.6   14.6                         BAHIA BLANCA AERO
4  30032025   12.6    4.4                            BARILOCHE AERO

## Características principales del dataset, número de observaciones, número de variables y tipos de datos.

In [87]:
print('Estadística descriptiva de las numéricas:\n')
df_ly.describe()

Estadística descriptiva de las numéricas:

           FECHA   TMAX   TMIN           NOMBRE
count      42916  38391  42296            42916
unique       366    668    590              119
top     31032024   29.0   15.0  AEROPARQUE AERO
freq         118    356    420              365

In [91]:
# Estadística descriptiva de las numéricas
print('Nro de obs nulas y no nulos, Nro de variables y tipos de datos:\n')
df_ly.info()

Nro de obs nulas y no nulos, Nro de variables y tipos de datos:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42916 entries, 0 to 42915
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FECHA   42916 non-null  object
 1   TMAX    38391 non-null  object
 2   TMIN    42296 non-null  object
 3   NOMBRE  42916 non-null  object
dtypes: object(4)
memory usage: 1.3+ MB

In [90]:
print('Valores unicos:\n')
df_ly.nunique()

Valores unicos:

FECHA     366
TMAX      668
TMIN      590
NOMBRE    119
dtype: int64

# Limpieza del dataset

## Reformateando variables numericas y categoricas

In [94]:
df_ly = pd.read_fwf("registro_temperatura365d_smn.txt", skiprows=1, encoding="latin1") #La primera linea esta en blanco (skiprows=1)
# Quitar filas que no tengan una fecha válida (por ejemplo, si tienen guiones)
df_ly = df_ly[df_ly['FECHA'].str.fullmatch(r"\d{8}")] # Filtrar fechas con formato de 8 dígitos (día-mes-año) 

df_ly['FECHA'] = pd.to_datetime(df_ly['FECHA'], format = '%d%m%Y') # Convertir a fecha con formato día-mes-año
df_ly['TMAX'] = pd.to_numeric(df_ly['TMAX'], errors='coerce') # Ignorar errores de conversión a numérico (por ejemplo, guiones)
df_ly['TMIN'] = pd.to_numeric(df_ly['TMIN'], errors='coerce') # Ignorar errores de conversión a numérico (por ejemplo, guiones)
df_ly['NOMBRE'] = df_ly['NOMBRE'].astype('category') # Convertir a categoría

df_ly.head()

       FECHA  TMAX  TMIN             NOMBRE
1 2025-03-30  28.9  21.4    AEROPARQUE AERO
2 2025-03-30  23.0  13.7          AZUL AERO
3 2025-03-30  22.6  14.6  BAHIA BLANCA AERO
4 2025-03-30  12.6   4.4     BARILOCHE AERO
5 2025-03-30 -10.3 -16.5   BASE BELGRANO II

## Checkeo de tipo de dato

In [95]:
print('Los nuevos tipos de datos son:\n')
df_ly.dtypes

Los nuevos tipos de datos son:

FECHA     datetime64[ns]
TMAX             float64
TMIN             float64
NOMBRE          category
dtype: object

## Estadistica descriptiva

In [96]:
print('Estadística descriptiva de las numéricas:\n')
df_ly.describe()

Estadística descriptiva de las numéricas:

                               FECHA          TMAX          TMIN
count                          42915  38390.000000  42295.000000
mean   2024-09-28 16:29:51.821041408     21.681586      9.731467
min              2024-03-31 00:00:00    -30.700000    -37.600000
25%              2024-06-29 12:00:00     15.700000      3.700000
50%              2024-09-29 00:00:00     22.800000     10.500000
75%              2024-12-29 00:00:00     29.200000     16.800000
max              2025-03-30 00:00:00     46.500000     30.800000
std                              NaN     10.265127      8.924445

In [64]:
df_30 = pd.read_csv("Estadísticas normales Datos abiertos 1991-2020.txt", sep="\t", skiprows=7, encoding="latin1")
df_30 = df_30.dropna(axis=1, how="all")
for col in df_30.columns:
    if col not in ['Estación', 'Valor Medio de']:  # columnas que querés dejar como texto
        df_30[col] = pd.to_numeric(df_30[col], errors='coerce')


df_30.head(16)

,Estación,Valor Medio de,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,LA QUIACA OBSERVATORIO,Temperatura (°C),13.2,13.0,12.8,11.3,7.3,4.8,4.5,7.0,10.0,12.4,13.4,13.9
1,LA QUIACA OBSERVATORIO,Temperatura máxima (°C),20.6,20.4,20.6,20.3,17.8,16.3,16.1,18.0,20.0,21.7,22.5,22.2
2,LA QUIACA OBSERVATORIO,Temperatura mínima (°C),7.7,7.6,6.6,3.1,-2.5,-5.7,-6.2,-4.0,-0.4,3.3,5.5,7.3
3,LA QUIACA OBSERVATORIO,Humedad relativa (%),62.6,63.2,60.3,46.0,32.6,27.4,25.7,26.7,32.1,42.4,48.6,55.8
4,LA QUIACA OBSERVATORIO,Velocidad del Viento (km/h) (2011-2020),6.5,6.8,6.7,5.5,4.8,5.5,5.9,6.7,7.9,7.9,7.7,7.1
5,LA QUIACA OBSERVATORIO,Nubosidad total (octavos),4.9,4.7,3.7,2.3,1.6,1.4,1.3,1.3,1.8,2.6,3.1,4.1
6,LA QUIACA OBSERVATORIO,Precipitación (mm),101.9,67.9,48.1,6.8,1.1,0.0,0.0,1.2,3.9,14.4,22.2,63.2
7,LA QUIACA OBSERVATORIO,Frecuencia de días con Precipitación superior ...,11.5,9.2,6.8,1.4,0.2,0.0,0.0,0.2,0.6,2.3,3.8,8.6
8,ORÁN AERO*,Temperatura (°C),26.4,25.4,23.9,21.3,18.1,15.6,14.9,17.6,21.0,24.5,25.5,26.4
9,ORÁN AERO*,Temperatura máxima (°C),32.8,31.4,29.4,26.5,23.4,21.6,22.4,26.2,29.4,31.8,32.4,33.2
10,ORÁN AERO*,Temperatura mínima (°C),21.6,21.2,20.3,17.9,14.5,11.3,9.6,11.1,14.2,18.4,19.7,21.2
11,ORÁN AERO*,Humedad relativa (%),76.5,79.3,82.8,84.3,83.6,81.0,73.8,63.3,55.7,61.1,66.7,71.5
12,ORÁN AERO*,Velocidad del Viento (km/h) (2011-2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ORÁN AERO*,Nubosidad total (octavos),5.2,5.4,5.7,5.7,5.6,5.0,4.0,3.2,3.7,4.8,5.0,5.1
14,ORÁN AERO*,Precipitación (mm),198.4,185.9,157.8,59.5,22.6,7.1,3.0,3.5,16.3,58.9,97.3,157.3
15,ORÁN AERO*,Frecuencia de días con Precipitación superior ...,10.5,10.1,10.7,7.8,3.8,1.4,1.0,0.7,1.7,5.0,6.9,9.4

In [65]:
df_30.dtypes

Estación           object
Valor Medio de     object
Ene               float64
Feb               float64
Mar               float64
Abr               float64
May               float64
Jun               float64
Jul               float64
Ago               float64
Sep               float64
Oct               float64
Nov               float64
Dic               float64
dtype: object

In [66]:
df_ly.dtypes

FECHA     datetime64[ns]
TMAX             float64
TMIN             float64
NOMBRE          category
dtype: object